<ul class="about">
    <li>Programmer for fun.</li>
    <li>&nbsp;</li>
    <li>(defmacro ❤ [&amp;args]</li>
    <li>&nbsp;&nbsp;`(update-in me [:passionate :tech]</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;conj ~@args)</li>
    <li>&nbsp;</li>
    <li>❤ Go.</li>
    <li>❤ Rust &amp;&amp; C++.</li>
    <li>❤ Clojure[Script].</li>
    <li>❤ Scala.</li>
    <li>❤ Functional programming.</li>
    <li>❤ Linux Vim Git Fish Tmux Xmonad.</li>
    <li>❤ k8s.</li>
    <li>❤ NixOS.</li>
    <li>❤ Embedded systems.</li>
    <li>❤ ML.</li>
</ul>
