<ul class="about">
    <li>Software engineer.</li>
    <li>&nbsp;</li>
    <li>(defmacro ❤ [&amp;args]</li>
    <li>&nbsp;&nbsp;`(update-in me [:passionate :IT]</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;conj ~@args)</li>
    <li>&nbsp;</li>
    <li>❤ Go.</li>
    <li>❤ Rust.</li>
    <li>❤ Clojure[Script].</li>
    <li>❤ Functional programming.</li>
    <li>❤ Linux Vim Git Fish Tmux Xmonad.</li>
    <li>❤ k8s.</li>
    <li>❤ Arch Linux NixOS.</li>
    <li>❤ Embedded systems.</li>
    <li>❤ Virtualization.</li>
    <li>❤ Containers.</li>
    <li>❤ Machine Learning.</li>
    <li>❤ Big Data.</li>
</ul>
