<ul class="links">
    <li>fn main(arg: &amp;str) -> Result<()> {</li>
    <li>&nbsp;&nbsp;match arg {</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;"github" =&gt; <a target="_blank" href="https://github.com/Gonzih"><span class="to">fork_me()?</span></a>,</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;"blog" =&gt; <a target="_blank" href="https://blog.gonzih.me"><span class="to">read_me()?</span></a>,</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;"email" =&gt; <a target="_blank" href="mailto:gonzih@gmail.com"><span class="to">email_me()?</span></a>,</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;"cv" =&gt; <a target="_blank" href="https://www.notion.so/gonzih/Max-Gonzih-CV-d6cb096878a24c9293f2ac8f0f6f87ee"><span class="to">hire_me()?</span></a>,</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;_ =&gt; <a href="#"><span class="to">Ok(())</span></a>,</li>
    <li>&nbsp;&nbsp;}</li>
    <li>}</li>
</ul>
