<ul class="links">
    <li>func main() {</li>
    <li>&nbsp;&nbsp;switch os.Args[0] {</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;case "github":</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://github.com/Gonzih"><span class="to">ForkMe()</span></a></li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;case "blog":</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://blog.gonzih.me"><span class="to">ReadMe()</span></a></li>

    <li>&nbsp;&nbsp;&nbsp;&nbsp;case "email":</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="mailto:gonzih@gmail.com"><span class="to">EmailMe()</span></a></li>

    <li>&nbsp;&nbsp;&nbsp;&nbsp;case "CV":</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://careers.stackoverflow.com/gonzih"><span class="to">HireMe()</span></a></li>

    <li>&nbsp;&nbsp;&nbsp;&nbsp;default:</li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"><span class="to">os.Exit(0)</span></a></li>
    <li>&nbsp;&nbsp;}</li>
    <li>}</li>
</ul>
