<ul class="links">
    case ref of
    <li>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://github.com/Gonzih">GitHub &nbsp;<span class="to">forkMe</span></a></li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://blog.gonzih.me">Blog &nbsp;&nbsp;&nbsp;<span class="to">readMe</span></a></li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="mailto:gonzih@gmail.com">Email &nbsp;&nbsp;<span class="to">mailMe</span></a></li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="https://careers.stackoverflow.com/gonzih">CV &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="to">hireMe</span></a></li>
    <li>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#">_  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="to">exitWithFailure</span></a></li>
</ul>
